@import url(//db.onlinewebfonts.com/c/002b944b211d383987536f1ecf684bca?family=Herculanum);
/* got this font from googling around */

.active{
  font-family: 'Herculanum';
  background-color: rgb(70, 67, 67);
  color:rgb(103, 255, 255);
  font-size:xx-large;
}
.not{
  font-family: 'Herculanum';
  background-color: rgb(248, 225, 183);
  color:black;
  font-size:large;
}

.gaang{
  font-family: 'Herculanum';
  color: rgb(75, 11, 11);
  font-size: xx-large;
  text-align: center;
  justify-content: center;
}
.header{
  font-family: 'Herculanum';
}
.footer{
  font-family: 'Herculanum';
  color: rgb(0, 0, 63);
  font-size: large;
}