@import url(//db.onlinewebfonts.com/c/002b944b211d383987536f1ecf684bca?family=Herculanum);
/* got this font from googling around */
a{
  margin: 5px;
}
label {
  display: block;
}

.active{
  font-family: 'Herculanum';
  color:rgb(103, 255, 255);
  font-size:x-large;
}
.not{
  font-family: 'Herculanum';
  background-color: rgb(255, 242, 217);
  color:black;
  font-size:medium;
  font-weight: bold;
  padding: 15px;
}
a:visited{
color: rgb(248, 29, 29);
}
.allgang{
  display: flex;
  flex-wrap: wrap;
}
.gaang{
  font-family: 'Herculanum';
  color: rgb(75, 11, 11);
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  cursor: pointer;
  margin: 15px;
  border: double rgb(61, 195, 212) 5px; 
  transition: transform .5s ease-in-out;
  background-color: rgb(255, 246, 228);
}

.gaang:hover{
  transform: translate(30px, 30px) ;
}
.img{
  width: 300px;
  height: auto;
  padding: 10px;
}
.header{
  font-family: 'Herculanum';
  text-align: center;
}
.footer{
  font-family: 'Herculanum';
  color: rgb(0, 0, 63);
  font-size: small;
  font-weight: bolder;
  text-align: center;
}
.body{
  display: flex;
  justify-content: center;
}

form{
  font-family: 'Herculanum';
  font-weight: bold;
  margin: 5px;
  display: flex;
  justify-content: center;

}
input{
  font-family: 'Herculanum';
  font-weight: bold;
  
}
select{
  font-family: 'Herculanum';
  font-weight: bold;
  
  
}
.button{
  font-family: 'Herculanum';
  background-color: rgb(103, 255, 255);
  font-weight: bold;
  margin: 5px;
  padding: 5px;
  border-radius: 45%;
  border:rgb(0, 8, 56) double 5px;
  
}
.button:hover{
  font-family: 'Herculanum';
  background-color: rgb(255, 242, 217);
  cursor: pointer;
}